header {
    background: rgba(224, 26, 152, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  nav {
    float: left;
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
  }
  nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #2355ec;
  }
  .A:focus{

    background: #2355ec;

  }
  .A{
    text-decoration: underline rgb(0, 255, 170); 
    color:rgb(43, 226, 101);
    cursor: pointer;
    

  }
  .A:hover{

    background: #2355ec;

  }
  .B:focus{

    background: #2355ec;

  }
  .B{
    color:rgb(226, 43, 55);
    
  }
  .B:hover{

    background: #2355ec;

  }
  .C:focus{

    background: #2355ec;

  }
.C{
  border-bottom: 2px solid #000102;
  border-top: 2px solid #000102;
}
.C:hover{

  background: #2355ec;

}
.D:focus{

  background: #2355ec;

}
.D{
    font-weight: bold;
    font-size: 40px;

  }
  .D:hover{

    background: #2355ec;
  
  }
  .E:focus{

    background: #2355ec;
  
  }
  .E{
    
    color:rgb(43, 64, 226);
  }
  .E:hover{

    background: #2355ec;
  
  }
  .F:focus{

    background: #2355ec;
  
  }
  .F{
    
    color:rgb(226, 43, 55);
    border-bottom: 2px solid #ee1515;
  }
  .F:hover{

    background: #2355ec;
  
  }
  table {
    width: 100%;
   text-align: left;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
   background-color: rgb(238, 246, 5);

 }
 caption, td, th {
    padding: 0.3em;
    border: 2px dotted rgb(14, 14, 14);
    width: 25%;
   text-align: left;
   vertical-align: top;
   border-collapse: collapse;
   border-spacing: 0;

 }
 tbody {
    border: 2px dotted rgb(14, 14, 14);
    border-bottom: 2px dotted rgb(246, 11, 11);
 }


 .TAB{
    color:rgb(226, 43, 55);
    
 }
 .TEXT{
    text-align:justify;
 }

 .SJ{
  
  text-align:center;

 }
 .T{
  
  text-align:left;
  width: 55%;
  margin: 20%;

 }
 .DG{
  
  text-align:center;

 }
 .GOKU{
  float:left;
  width: 5em;
  height: 5em;
  margin: 5px;
  padding: 15px;
 }
 
 
 .LOCO{
  float:right;
  width: 5em;
  height: 5em;
  margin: 10px;
  padding: 2px;
 }
 .IZQ{
  
  text-align:justify;

 }
 .DER{
  
  text-align:justify;

 }
 






